@font-face {
  font-family: 'Otsikot';
  src: url('../public/FONTS/Poppins.ttf') format(truetype);
}
@font-face {
  font-family: 'Otsikot2';
  src: url('../public/FONTS/Poppins-Light.ttf') format(truetype);
}

/* ANIMATIONS */
 @keyframes fade{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes SlideFade{
  0% {
    opacity:0;
    transform:translateX(-8%) scale(1);
  }
  
  100% {
    opacity:1;
    transform: translateX(0) scale(1);
  }
} 
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.Landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e51717;
  z-index: 0;
  width: 100vw;
  overflow-y: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  pointer-events: none;
}  

#bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: -100;
  pointer-events: none;
}

.container1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
 
}

.metsäyhtymäkaukonen {
  font-family:Otsikot;
  font-size: 170%;
  width: 100vw;
  height: 100%;
  top: 0;
  text-align: left;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  z-index: 1;
  padding-left: 7%;
  padding-top: 3%;
  gap: 0;
}

#h1metsäyhtymäkaukonen {
  animation: SlideFade 1s ;
}

#h2metsäyhtymäkaukonen {
 font-family: Otsikot2;
 animation: SlideFade 1s;
 
}

#h3metsäyhtymäkaukonen {
  animation: fade 1s ease-in;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  font-family: Otsikot;
  font-size: 0.78em;
}

#line {
  animation: SlideFade 1s;
  font-size: 1100%;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: left;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  z-index: 1;
  padding-left: 1.3%;
  padding-top:2%;
}

.h1buttons {
  font-family:Otsikot2;
  font-size: 2em;
  padding: 2em;
  position :absolute;
  display:flex;
  gap: 3em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.h1buttons .Link {
  position: relative;
  display: inline-block;
  color: white;
  transition: color 0.3s ease;
  overflow: hidden;
}

.h1buttons .Link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background: #818c3c;
  transition: width 0.3s ease-out;
}

.h1buttons .Link:hover::after {
  width: 100%;
}

.h1buttons .Link:hover {
  color: #818c3c;
  cursor: pointer;
}

/*TUOTTEET*/

#TUOTTEET {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}

.card-wrapper {
  width: 60%;
  height: 100vh;
  background-color: #c1b9ad5a;
  font-family: Otsikot;
  padding: 2em;

}

.product-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.OtsikkoTuotteet {
  font-size: 6em;
  font-weight: 100;
  color: #f7f1ba;
}

.Koot {
  font-size: 78%;
  font-weight: 100;
  color: #f7f1ba; 
}

.Tuotekuvaus{
  font-size: 3em;
  color: #fdfdfdd5;
}

/* INFO */
#INFO {
  color:#131313;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vw;
  width:100vw;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background-color: #DED8CD;
  overflow-x: hidden;
}

#buttonintuotteet {
  position:absolute;
  top:2em;
  right:2em;
  z-index: 20;
}

#arrowup{
  height: 50px;
}

#arrowup:hover{
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  height: 60px;
}

#arrowdown{
  height: 50px;
}

#arrowdown:hover{
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  height: 60px;
}

.section {
      max-width: 60vw;
      max-height: 90vh;
      margin: auto;
     margin-top: 3%;
      font-family: otsikot2;
    }

  #infotitle {
      font-family: otsikot;
      font-size: 2rem;
      margin-bottom: 2%;
    }

    .description {
      font-size: 1.1rem;
      max-width:40vw;
      margin-bottom:2%;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid #000000;
      padding: 15px 0;
      font-size: 1.5rem;
    }

    .details-text {
      max-width: 30%;
    }

    .details-number {
      font-size: 1.6rem;
      font-weight: bold;
    }

    .note {
      border-top: 1px solid #000000;
      font-size: 1.5rem;
      margin-top: 30px;
      color: #000000;
    }

    .emoji {
      font-weight: normal;
      font-size: 1.05rem;
    }

#YHTEYSTIEDOT {
  max-height: 200vh;
  max-width: 100vw;
  width: 100vw;
  height: auto;
  font-size: 2em;
  font-family: Otsikot2;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background-color: #131313;
  color: #DED8CD;
  overflow-x: hidden;
}

#links {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 0.3em; 
  margin-bottom: 1em;
  padding-left: 1em;
  font-family: Arial, sans-serif;
}

#links img {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  vertical-align: middle;
}

#links a,
#links p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}


.contact-section {
  background-color: var(--bg-color);
  padding: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-note {
  color: #ffffff;
  font-size: 0.6em;
  text-align: center;
  max-width: 600px;
  margin-top: 0%;
  overflow: hidden;
  margin-bottom: 1em;
}

.contact-card {
  height: 80vh;
  background-color:#DED8CD;
  padding: 1em;
  border-radius: 1.5em;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 30px rgba(127, 126, 126, 0.4);
  overflow: hidden;
}

.contact-title {
  font-family: otsikot;
  color: 	#191919;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--text-color);
  display: inline-block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form input,
.contact-form textarea {
  background: var(--input-bg);
  border: none;
  border-bottom: 1px solid #a1a1a1;
  padding: 0.75em;
  font-size: 0.6em;
  resize: none;
  color: rgb(0, 0, 0);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form button {
  background-color: var(--accent);
  color: 	#191919;
  border: none;
  font-family: Otsikot;
  padding: 0.8em;
  border-radius: 0.5em;
  font-size: 0.7em;
  cursor: pointer;
}

.contact-form button:hover {
  animation: fade 1s ease;
  background-color: 	#5e5e5e;
}


/* Skaalautuvuus */
@media (max-width: 600px) {
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

 html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/*LANDINGPAGE*/

  .metsäyhtymäkaukonen {
    font-size: 1.4rem;
  }

  .h1buttons {
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
  }

  #bgvideo{
    pointer-events: none;
    z-index: -100;
  }

  #line {
    font-size: 8rem;
  }

   .metsäyhtymäkaukonen {
    font-size: 1.1rem;
  }

  .h1buttons {
    top: 70%;
    font-size: 1rem;
  }

  #line {
    font-size: 5rem;
  }


/*NAVIGATION ARROWS*/
#buttonintuotteet{
    display: none;
    position:relative;
    top:0;
    right:0;
    z-index: 0;
  }

  #arrowup{
  display: none;
  }

  #arrowdown{
    display: none;
  }

  /*PRODUCT*/
  .card-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;
  background-color: #c1b9ad5a;
  font-family: Otsikot;
  max-width: 100%;
}

.product-card1 {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OtsikkoTuotteet {
  font-size: 3em;
  font-weight: 100;
  color: #f7f1ba; 
  line-height: 1.5;
}

.Koot {
  font-weight: 100;
  color: #f7f1ba; 
  line-height: 1.5;
}

.Tuotekuvaus{
  color: #fdfdfdd5;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

  /*info*/
  #INFO {
    padding: 3%;
    font-size:1em;
    max-height: 200vh;
    height:auto;
    
  }

  .section {
    max-width: 100vw;
    max-height: 200vh;
    margin-top: 1%;
    font-size: xx-small;
  }

  #infotitle {
    font-size: 3em;
    text-align: center;
  }

  .description {
    max-width: 100%;
    text-align: center;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }

  .details-text {
    font-size: 1em;
    max-width: 100%;
    margin-bottom: 0.5em;
  }

  .details-number {
    margin-bottom: 0.5em;
    font-size:0.7em;
  }

  .emoji {
    text-align: center;
  }

  /*YHTEYSTIEDOT*/
  #YHTEYSTIEDOT {
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  font-family: Otsikot2;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background-color: #414039;
  color: #DED8CD;
  overflow-x: hidden;
 margin-bottom: 0%;
}

#links {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: flex-start; /* Align items to the left */
  font-family: Arial, sans-serif;
  padding-top: 5%;
}

#links img {
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  vertical-align: middle;
}

#links a,
#links p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.contact-section {
  background-color: var(--bg-color);
  padding: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-note {
  color: #ffffff;
  font-size: 0.5em;
  text-align: center;
  max-width: 600px;
  margin-top: 0%;
  overflow: hidden;
  margin-bottom: 1em;
}

.contact-card {
  height: 65vh;
  background-color:#DED8CD;
  padding: 0.5em;
  border-radius: 1.2em;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 30px rgba(115, 114, 114, 0.4);
  overflow: hidden;
  font-size: 0.6em;
}

.contact-title {
  font-family: otsikot;
  color: 	#191919;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--text-color);
  display: inline-block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form input,
.contact-form textarea {
  background: var(--input-bg);
  border: none;
  border-bottom: 1px solid #a1a1a1;
  padding: 0.75em;
  font-size: 0.8em;
  resize: none;
  color: rgb(0, 0, 0);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form button {
  background-color: var(--accent);
  color: 	#191919;
  border: none;
  font-family: Otsikot;
  padding: 0.8em;
  border-radius: 0.5em;
  font-size: 0.7em;
  cursor: pointer;
}

.contact-form button:hover {
  animation: fade 1s ease;
  background-color: 	#5e5e5e;
}
  
}
